script(src='/js/index.js')

h2(class='logo')
	span(class='c1 first') M
	span(class='c2')       i
	span(class='c3')       k
	span(class='c4')       o
	span(class='c5')       n
	span(class='c1')       i
p(class='slogan') Don't just like. Do whatever you like!
p
	fb:like(href='http://rouzbeh.videoplaza.org/mikoni', width='300')