!!! 5
html
	head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mikonam: http://ogp.me/ns/fb/mikonam#')
	title Mikoni | #{title}
	meta(property='fb:app_id'      , content='282925545059633')
	meta(property='og:type'        , content='mikonam:chi')
	meta(property='og:url'         , content='http://rouzbeh.videoplaza.org/mikoni')
	meta(property='og:title'       , content='#{title}')
	meta(property='og:description' , content='Chert o Pert Mikonam')
	meta(property='og:image'       , content='http://rouzbeh.videoplaza.org/mikoni/img/mikoni.png')
	link(rel='stylesheet', href='css/style.css')

	body
	#fb-root
	script(src='http://connect.facebook.net/en_US/all.js')
	script(src='js/fbinit.js')

	div#root!= body