body {
	font-size: 18pt;
	font-family: Georgia;
}

h2 {
	font-size: 100pt;
}

.c1 { color: #3b5998; }
.c2 { color: #3b988e; }
.c3 { color: #3b983f; }
.c4 { color: #c7cb5a; }
.c5 { color: #cb5353; }
.gray { color: #aaa; }

.smaller { font-size: 0.4em; }

#root {
	width: 100%;
	margin: 1em auto;
	text-align: center;
}

.logo {
	font-family: Trebuchet MS;
	margin-bottom: 0;
	margin-top: 0.6em;
}
.slogan {
	margin: 0 0 2em 0;
}

.mikoni {
	font-family: Trebuchet MS;
	margin-bottom: 1.5em;
}

.mikoni a {
	text-decoration: none;
	cursor: pointer;
}

.mikoni a:hover {
	font-weight: bolder;
}